@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
	themes: light, dark, corporate, business;
}

@layer base {
	*,
	::before,
	::after {
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	pre {
		padding: 1rem !important;
	}

	:not(pre) > code {
		padding: 0.125rem 0.375rem !important;
		border-radius: 0.25rem !important;
		font-size: 0.875em !important;
	}
}
