/* Maps DaisyUI CSS variables to PIE variables. */

:root,
[data-theme] {
	--pie-background: var(--color-base-100);
	--pie-background-dark: var(--color-base-200);
	--pie-secondary-background: var(--color-base-200);
	--pie-dropdown-background: var(--color-base-300);

	--pie-text: var(--color-base-content);
	--pie-primary: var(--color-primary);
	--pie-primary-light: var(--color-primary);
	--pie-primary-dark: var(--color-primary);
	--pie-secondary: var(--color-secondary);
	--pie-secondary-light: var(--color-secondary);
	--pie-secondary-dark: var(--color-secondary);
	--pie-tertiary: var(--color-accent);
	--pie-tertiary-light: var(--color-accent);
	--pie-border: var(--color-base-300);
	--pie-border-light: var(--color-base-200);
	--pie-border-dark: var(--color-neutral);
	--pie-correct: var(--color-success);
	--pie-incorrect: var(--color-error);
	--pie-missing: var(--color-warning);
	--pie-focus-checked: var(--color-primary);
	--pie-focus-checked-border: var(--color-primary);
}
